<p id="notice"><%= notice %></p>

<h1>Черный список номеров телефонов</h1>

<table>
  <thead>
    <tr>
      <th>Номер</th>
      <th>Коментарий</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @black_lists.each do |black_list| %>
      <tr>
        <td><%= black_list.phone %></td>
        <td><%= black_list.coment %></td>
        <td><%= link_to 'Показать', black_list %></td>
        <td><%= link_to 'Изменить', edit_black_list_path(black_list) %></td>
        <td><%= link_to 'Удалить', black_list, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый телефон в черный список', new_black_list_path %>
