<p id="notice"><%= notice %></p>

<p>
  <strong>Номер телефона:</strong>
  <%= @black_list.phone %>
</p>

<p>
  <strong>Коментарий:</strong>
  <%= @black_list.coment %>
</p>

<%= link_to 'Изменить', edit_black_list_path(@black_list) %> |
<%= link_to 'Назад', black_lists_path %>
