<div class="container">
	<h1>Welcome</h1>
	<p><%= link_to 'Cписок', admin_admins_path, {:rel => "nofollow"} %></p>
	<p><%= link_to 'Download APK', advert_path, {:rel => "nofollow"} %></p>
	<p><%= link_to 'Новый телефон в черный список', new_black_list_path, {:rel => "nofollow"} %></p>
	<p><%= link_to 'Марки - Модели', markas_path, {:rel => "nofollow"} %></p>

	<p><%= link_to 'Регионы - Города', regions_path, {:rel => "nofollow"} %></p>

	<br/>
	<p><%= link_to 'Вчерашние объявления', yesterdays_path, {:rel => "nofollow"} %></p>
</div>