<li><%= region.name %>&nbsp;&nbsp;<%= link_to 'Города', region_locations_path(region) %></li>
<!-- <li><%= region.name %>&nbsp;&nbsp;<%= link_to 'Города', region_locations_path(region) %>&nbsp;|&nbsp;<%= link_to "Удалить", region_path(region), method: :delete,data:{ confirm: 'Вы уверены?' } %></li> -->