<p><%= link_to 'Назад', regions_path %></p>
<br />
<div class="container">
  <%  %>
  <h2><%= @region.name %></h2>

  <ul id="locations">
    <%= render @locations %>
  </ul>

  <p><b>Новый город</b></p>
  <% @location = @region.locations.build %>

  <%= form_for [@region,@location], remote: true do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <%= f.hidden_field :region_id %>
    <%= f.submit %>
  <% end %>
</div>