<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag '/android.png', :type => 'image/png' %>
  <%= metamagic title: "SMS сервис", description: "My default description.", keywords: %w() %>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <%= link_to "Logout", admin_admin_path(current_user), :method => :delete, :confirm => "Are you sure you want to logout?" %>
    <% elsif !@user_session.present? %>
    <%= link_to 'Login', admin_admins_path, {:rel => "nofollow"} %>
  <% end %>

<%= yield %>

</body>
</html>
